#Ignore local .terraform directories
**/.terraform/*

#Ignore local terraform .tfstate files
*.tfstate
*.tfstate.*

#Ignore TFvars
*.TFvars

#Ignore kubeconfig file
kubeconfig_*

#Ignore modules folder
**/.modules/*